{{> layout/header }}
<div class="container">
  <div class="row">
    {{#each items}}
    <div class="col-md-4 p-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <a href="/blog/{{uri}}" target="_blank">{{title}}</a>
          </h5>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{> layout/footer }}
