# vueAdmin-template
/build/
/config/
/dist/
/node_modules/
/src/api/
/src/assets/
/src/components/
/src/icons/
/src/router/
/src/store/
/src/styles/
/src/utils/
/src/views/
/src/App.vue
/src/permission.js
/static/
/.babelrc
/.editorconfig
/.eslint*
/.postcssrc.js
/.travis.yml
/favicon.ico
/index.html
/LICENSE
/README*.md
/package*.json
